[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CoxBcv"]
	path = CoxBcv
	url = https://github.com/cran/CoxBcv
	shallow = true
	registered = true
